body {
    margin: auto;
    margin-left: 6rem;
    background-color: #EFEFEF;
}

.side-menu {
    position: fixed;
    margin-left: -6rem;
    width: 6rem;
    height: 100vh;
}

.upper {
    background-color: #3E64FF;
    height: 50vh;
    display: flex;
    align-items: flex-end;
}

.upper h2 {
    transform: rotate(-90deg);
    margin: 3rem auto;
    color: #FFDBC0;
}

.lower {
    background-color: #fff;
    height: 50vh;
}

.top-menu {
    display: flex;
    padding: 1.5rem 2rem;
}

.top-menu ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex: 1;
}

.top-menu ul li {
    margin: auto 2rem;
    font-size: 1.5rem;
}

.hero {
    min-height: 100vh;
    background-image: url("../images/background-logo.svg");
    background-position: center;
    background-repeat: no-repeat;
}

