body {
    margin: auto;
    margin-left: 5rem;
    background-color: #EFEFEF;
}

.side-menu {
    position: absolute;
    margin-left: -5rem;
    width: 5rem;
    height: 100vh;
}

.upper {
    background-color: #3E64FF;
    width: 5rem;
    height: 50vh;
}

.lower {
    background-color: #fff;
    width: 5rem;
    height: 50vh;
}

.top-menu {
    display: flex;
    padding: 2.5rem 2rem;
    justify-content: space-between;
}

.top-menu ul {
    display: flex;
    list-style: none;
    flex: 1;
    justify-content: flex-end;
}

.top-menu ul li {
    margin: auto 2rem;
    font-size: 1.5rem;
}
